<ion-view title="{{'areas' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-subheader list-areas-section">
    <div class="section-title">
      <h2>{{ 'area.choose' | translate }}</h2>
    </div>
    <ion-list>
      <ion-item class="area-item item-icon-right" ng-repeat="area in areas" href="#/app/species/{{area.id}}">
        {{area.name}}
        <i class="icon ion-ios7-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
