<ion-view title="{{ 'nav.credits' | translate }}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-subheader area-map-section padding" has-bouncing="false" ng-cloak>
  	<div class="padding dark">
	<h2>Informations générales</h2>
	<p>L’application Phénoclim est éditée par le Centre de Recherches sur les Ecosystèmes d’Altitude CREA mont-Blanc, association à but non lucratif selon la loi de 1901.
	</br>
	Siren : 410 162 663 </br>
	Siège social : Observatoire du Mont-Blanc </br>
	67 lacet du belvédère </br>
	74 400 Chamonix Mont-Blanc</br>
	</br>
	Directrice de la publication : Anne Delestrade, directrice du CREA </br>
	Développement :  Makina Corpus </br>
	Hébergement : ?? </br>
	Photos : CREA </br>
	</p>

	<h2>Loi Informatique et Libertés</h2>
	<p>Conformément à la loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez d'un droit d'accès, de modification, de suppression et de rectification de vos données. Pour exercer votre droit, Contactez le Centre de recherches sur les Ecosystèmes d’Altitude – Observatoire du Mont-Blanc – 67 lacet du Belvédère – 74 400 Chamonix-Mont-Blanc par courrier ou courriel à contact@creamontblanc.org.</p>
	<h2>Propriété intellectuelle</h2>
	<p>
	L'ensemble de l’application Phénoclim, les textes, illustrations animées ou non, photos, vidéos et sons qui la composent, sont la propriété du CREA ou sont utilisés par le CREA avec l'accord des titulaires des droits d'auteur. A ce titre, l’application Phénoclim est protégée par la législation française sur le droit de la propriété intellectuelle. Toute reproduction, modification, utilisation ou réutilisation totale ou partielle de ce site et de son contenu, par quelques procédés que ce soient, est interdite sauf si le CREA a donné son accord préalable écrit.
	Toute reproduction ou utilisation de l’application Phénoclim et/ou des éléments la composant qui serait autorisée par le CREA devra mentionner la source et le titulaire des droits de propriété afférents.
	</p>

	<h2>Responsabilité</h2>
	<p>
	Les sites extérieurs à Phénoclim ayant un lien hypertexte avec l’application Phénoclim ne sont pas sous le contrôle du CREA qui décline par conséquent toute responsabilité quant à leur contenu.
	Le CREA s’engage à faire tout son possible pour assurer aux utilisateurs une accessibilité à l’application à tout moment. L'association ne pourra être tenu responsable en cas de difficulté d'accès, d’indisponibilité de l’application.
	En outre, le CREA se réserve le droit, pour toutes raisons et à sa seule discrétion, de résilier, modifier, suspendre ou interrompre l'accès à l’application Phénoclim, sans avis préalable.
	</p>
	</div>
  </ion-content>
</ion-view>
