<div class="modal">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Date</h1>
      <div class="button button-clear" ng-click="closedateModal()"><span class="icon ion-close"></span></div>
    </header>
    <ion-content class="has-header">
      
       
        <div class="padding">
          <div pickadate ng-model="survey.beforeDate"></div>
        </div>
        
         <button class="button button-full button-balanced" ng-click="closedateModal(survey.beforeDate)">Choice</button>
       
    </ion-content>
</div>