<ion-view title="{{ 'nav.help' | translate }}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-subheader area-map-section padding" has-bouncing="false" ng-cloak>
  	<div class="padding dark">

	<h2>Synchronisation des données</h2>
	<p>
		La synchronisation des données ne peut se faire qu’une fois connecté au réseau wifi ou en 3G.
		</br>
		</br>
		Synchronisez vos observations dans les cas suivants :
		</br>
	<ul>
		<li>- avant toute session d’observation sur le terrain pour actualiser les données de votre mobile.</li>
		<li>- après avoir saisi des données sur le terrain sans connexion wifi ou 3G et ainsi les transmettre à la base de données.</li>
	</ul>
	</p>

	<h2>Enneigement</h2>
	<p>
		La saisie de la hauteur de neige sur votre zone d’étude se fait le jour même. Il n’est pas possible via l’appli de saisir les données de dates antérieures. Pour saisir des données antérieures, allez  sur le site internet.
	</p>

	<h2>Changer d’observateur</h2>
	<p>
		En cas de saisie d’événements par différents observateurs sur une même zone d’étude, il est impératif de s’identifier personnellement avant la saisie en allant sur la page « changer d’utilisateur »
	</p>

	<h2>Saisie des observations</h2>
	<p>
		Il est possible de modifier une date d’un événement déjà saisi, même après synchronisation.
	</p>
	</div>
  </ion-content>
</ion-view>
