<ion-view title="{{ 'nav.home' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header tasks-section with-background">
    <br/>
    <button ng-click="synchronize()" class="button"><i class="ion-ios7-cloud-upload"></i> {{ 'action.synchronize' | translate }}</button>
    <h1>{{ 'home.upcoming_tasks' | translate }}</h1>
    <ion-list>
      <ion-item ng-repeat="task in user.upcomming_tasks" class="task-item">
        <span>{{task.species_name}}</span> 
        <span style="display:block;font-size:0.9em">{{task.name}}</span> 
        <span style="display:block;font-size:0.8em;">{{task.date_start|date }} to {{ task.date_end|date}}</span>
        <div style="white-space:initial;"> For : <span style="font-size:0.9em;margin-left:4px;" ng-repeat="ind in task.individuals" ng-bind="ind.name"></span></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
