<ion-view title="{{ 'nav.home' | translate }}" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header tasks-section with-background">

    <div class="card text-center" style="padding:30px;" >
    <h3>{{ 'home.welcome' | translate }} {{ user.username }} !</h3> 
    <h4 translate="home.text"></h4>
    <br/> 

    <button ng-if="nbToSync > 0" ng-click="synchronize()" class="button button-positive">
      <div class="btn-sync-title">
        <i class="icon ion-ios7-cloud-upload"></i>
        <span translate="action.synchronize"></span>
      </div>
      <span class="nav-counter" ng-bind="nbToSync"></span>
    </button>

    <button ng-if="nbToSync == 0" ng-click="synchronize()" class="button button-positive">
      <div class="btn-sync-title">
        <i class="icon ion-cloud icon_ok"></i>
        <span translate="action.synchronized"></span>
      </div>
    </button>

    </div>
    <!--
    <img src="img/CREA_blanc.jpg" class="home__logo" />
    <img src="img/logo.png" class="home__logo epheno" />
    -->
  </ion-content>
  <div class="bandeau">
  </div>

</ion-view>
