<ion-view title="{{ 'nav.last_surveys' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-subheader last-surveys">
    <div class="list card" ng-repeat="area in areas" ng-init="showArea=((areas.length > 1)? false : true);sp_tmp=area.species[0].id">

      <div class="item item-divider last-survey-item" ng-click="showArea=!showArea">
        {{area.name}}
      </div>
 	  <div ng-if="showArea===true">
      	<label class="item item-input item-select">
	        <div class="input-label">
	          {{ 'species' | translate }}
	        </div>
			<select ng-options="sp.id as sp.name for sp in area.species" ng-model="sp_tmp"></select>
      	</label>
      	<label class="item" ng-repeat="areaSpecies in area.species" ng-if="sp_tmp == areaSpecies.id">
			<ion-list ng-repeat="indiv in areaSpecies.individuals" ng-if="indiv.surveys">
				{{indiv.name}}
				<ion-item ng-repeat="survey in indiv.surveys" ui-sref="app.stages(survey)" class="item item-icon-right">
					{{survey.surveyDate | date:"shortDate"}}
					{{survey.name | translate}}
                    <i ng-if="survey.identifier" class="icon ion-cloud icon_ok"></i>
					<i ng-if="!survey.identifier" class="icon ion-upload icon_warning"></i>
				</ion-item>
			</ion-list>
		</label>
	  </div>
  	 </div>
  </ion-content>
</ion-view>