<div class="modal login-section">
  <ion-header-bar>
    <h1 class="title">{{ 'login.title' | translate }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">{{ 'action.close' | translate }}</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="login-error" ng-if="loginData.error">
        {{ loginData.error | translate}}
      </div>
      <div class="list ">
        <label class="item item-input">
          <span class="input-label">{{ 'login.username' | translate }}</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">{{ 'login.password' | translate }}</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">{{ 'login.action' | translate }}</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>

