<ion-side-menus>

  <ion-pane ion-side-menu-content no-tap-scroll="true">

    <ion-nav-bar class="bar bar-header bar-stable">
      <!-- back button -->
    <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <!-- area subheader -->
    <ion-header-bar class="bar-subheader bar bar-dark" ng-if="$state.includes('app.species') || $state.includes('app.map')">
        <div class="button-bar">
            <a class="button species-list" ui-sref="app.species($state.params)" ng-class="{ active: $state.includes('app.species')}">
              {{ 'nav.subheader.list' | translate }}
            </a>
            <a class="button species-map" ui-sref="app.map($state.params)" ng-class="{ active: $state.includes('app.map') }">
              {{ 'nav.subheader.map' | translate }}
            </a>
        </div>
    </ion-header-bar>
    <!-- areas subheader --> 
    <ion-header-bar class="bar-subheader bar bar-dark" ng-if="$state.includes('app.areas') || $state.includes('app.globalmap')">
        <div class="button-bar">
            <a class="button areas-list" ui-sref="app.areas" ng-class="{ active: $state.includes('app.areas')}">
              {{ 'nav.subheader.list' | translate }}
            </a>
            <a class="button areas-map" ui-sref="app.globalmap" ng-class="{ active: $state.includes('app.globalmap') }">
              {{ 'nav.subheader.map' | translate }}
            </a>
        </div>
    </ion-header-bar>

    <ion-nav-view name="mainContent"></ion-nav-view>

  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-dark bar-header bar-stable">
      <h1 class="title">Phenoclim</h1>
    </header>
    <ion-content class="has-header" has-bouncing="false">
      <ion-list>
        <ion-item class="item-icon-left " nav-clear menu-close ui-sref="app.home">
          <i class="icon ion-ios7-home"></i>{{ 'nav.home' | translate }}
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.snowing">
          <i class="icon ion-ios7-snowy"></i>{{ 'nav.snowcover' | translate }}
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="go_to_surveys_section()">
          <i class="icon icon ion-leaf"></i> {{ 'nav.survey' | translate }}
          <!--Survey-->
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.last_surveys">
          <i class="icon ion-ios7-browsers"></i> {{ 'nav.last_surveys' | translate }}
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/home">
          <i class="icon ion-ios7-ionic-outline"></i>{{ 'nav.protocol' | translate }}
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/home">
          <i class="icon ion-help"></i>{{ 'nav.help' | translate }}
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/home">
          <i class="icon ion-ios7-analytics-outline"></i>{{ 'nav.credits' | translate }}
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="login_and_redirect()">
          <i class="icon ion-person-stalker"></i>{{ 'nav.change_user' | translate }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
