<ion-view title="{{ 'nav.subheader.map' | translate }}">

  <ion-nav-buttons side="left">
  </ion-nav-buttons>

  <ion-content class="has-subheader area-map-section" has-bouncing="false" ng-cloak>
    <ul class="filter-list list">
      <li class="item item-checkbox option-all">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="false">
         </label>
         <span translate='species.choice.see_all'></span>
      </li>
      <li class="item item-checkbox option-observed">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="true">
         </label>
         <span translate="species.choice.see_to_observed"></span>
      </li>

      <li id="map" class="map" data-tap-disabled="true">
        <div class="leaflet-bar leaflet-control">
          <button class="button button-medium" ng-click="centerMapOnUser()">
            <i class="icon ion-android-locate"></i>
          </button>
        </div>
      </li>

      <li class="item item-input item-select area-select" ng-if="areas.length>1">
        <div class="input-label">
          {{ 'species.change_area' | translate}}
        </div>
        <select ng-options="area as area.name for area in areas" 
                ng-model="area" 
                ng-change="switchArea(area)"></select>
      </li>

    </ul>
  </ion-content>

</ion-view>