<ion-view title="Map">

  <ion-nav-buttons side="left">
  </ion-nav-buttons>

  <ion-content class="has-subheader area-map-section" has-bouncing="false" ng-cloak>
    <ul class="list">

      <li class="item item-checkbox item-first">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="false">
         </label>
         {{ 'species.choice.see_all' | translate}}
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="true">
         </label>
         {{ 'species.choice.see_to_observed' | translate}}
      </li>

      <li class="map">
        <div class="leaflet-bar leaflet-control">
          <button class="button button-medium" ng-click="centerMapOnUser()">
            <i class="icon ion-android-locate"></i>
          </button>
        </div>
        <!-- Leaflet directive -->
        <leaflet defaults="defaults" 
                 center="center" 
                 markers="individuals" 
                 geojson="geojson" 
                 tiles="tiles"
                 height="350px" 
                 width="100%"
                 paths="paths"
                 data-tap-disabled="true"></leaflet>
      </li>

      <li class="item item-input item-select">
        <div class="input-label">
          {{ 'species.change_area' | translate}}
        </div>
        <select ng-options="area as area.name for area in areas" 
                ng-model="area" 
                ng-change="switchArea(area)"></select>
      </li>

    </ul>
  </ion-content>

</ion-view>