<ion-view title="Map">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-subheader" has-bouncing="false" ng-cloak>
    <ul style="margin:0;" class="list">

      <li class="item item-checkbox" style="padding-top:12px;padding-bottom:12px;">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="false">
         </label>
         {{ 'species.choice.see_all' | translate}}
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="true">
         </label>
         {{ 'species.choice.see_to_observed' | translate}}
      </li>

      <li style="position:relative">
        <div class=" leaflet-bar leaflet-control" style="position:absolute;left:10px;top:10px;">
          <button class="button button-medium" ng-click="centerMapOnUser()" title="Show me where I am">
            <i class="icon ion-android-locate"></i>
          </button>
        </div>
        <!-- Leaflet directive -->
        <leaflet defaults="defaults" 
                 center="center" 
                 markers="individuals" 
                 geojson="geojson" 
                 defaults="defaults"
                 height="350px" 
                 width="100%"
                 paths="paths"
                 data-tap-disabled="true"></leaflet>
      </li>

      <li class="item item-input item-select">
        <div class="input-label">
          Change Area
        </div>
        <select ng-options="area as area.name for area in areas" 
                ng-model="area" 
                ng-change="switchArea(area)"></select>
      </li>

    </ul>
  </ion-content>

</ion-view>