<ion-view title="{{ 'nav.protocol' | translate }}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-subheader area-map-section padding" has-bouncing="false" ng-cloak>
    <div class="padding dark">

    <p>Rendez visite à vos plantes une fois par semaine au printemps et à l’automne. Lorsqu’un stade à suivre est atteint, notez la date.
      </br>
      </br>
      En cas de non observation d’un stade, différenciez si :
      <ul>
        <li>- l’événement n’a pas eu lieu cette année (« stade absent »).</li>
        <li>- vous n’avez pas pu faire l’observation (« stade non observé » : vacances, oubli…).</li>
        <li>- l’arbre n’existe plus (« individu mort ou disparu »).</li>
      </ul>
      </br>
      Si un de vos arbres ne peut plus être suivi suite à une perturbation (tempête, coupe,…) ou à sa senescence (arbre mort), indiquez « individu mort ou disparu ».  Puis chercher un nouvel individu pour le remplacer  (à enregistrer sur le site internet de Phénoclim).
      </br>
      </br>
      Il arrive certaines années qu’un événement phénologique n’ait pas lieu. Par exemple, les frênes ne fleurissent pas tous les ans
    </p>

    <h2>1.1 Au printemps</h2>

    <p>
      Commencez les observations aux premiers signes de réveil de la végétation et aidez-vous du calendrier indicatif.
    </p>

    <h3>1.1.1 <u>Débourrement</u></h3>
    <p>
      Espèces concernées : épicéa, mélèze, bouleau verruqueux, bouleau pubescent, frêne, sorbier des oiseleurs, noisetier, lilas.
    </br>
    </br>
    À la fin de l'hiver, repérez les bourgeons sur les branches des arbres. Le débourrement correspond à l'ouverture des bourgeons végétatifs (qui donnent les feuilles).
    </br>
    </br>
    Notez la date d’ouverture des premiers bourgeons : environ 10% des bourgeons de l’arbre doivent être en phase d’ouverture. Les nouvelles feuilles sont visibles à travers les écailles du bourgeon.
    </p>
    <h3>1.1.2 <u>Feuillaison</u></h3>
    <p>
      Espèces concernées : épicéa, mélèze, bouleau verruqueux, bouleau pubescent, frêne, sorbier des oiseleurs, noisetier, lilas.
      </br>
      </br>
      Notez la date de déploiement des premières feuilles : environ 10% des feuilles de l’arbre. La feuille est entièrement ouverte, le pétiole apparent, la forme reconnaissable même si la feuille n’a pas sa taille adulte.
      </br>
      </br>
      Pour les conifères, les jeunes aiguilles sont collées à la base du bourgeon, mais séparées au sommet.
    </p>

    <h3>1.1.3 <u>Floraison</u></h3>
    <p>
      Espèces concernées : toutes les espèces.
      </br>
      </br>
      Notez la date d'ouverture des premières fleurs : environ 10% des fleurs de la plante. Les pétales sont suffisamment ouverts pour laisser voir l’intérieur de la fleur.
      </br>
      </br>
      Pour le lilas, le sorbier et le frêne, notez l’ouverture de la première fleur de l’inflorescence (grappe).
      </br>
      </br>
      Pour le bouleau, le noisetier, l’épicéa et le mélèze, notez la libération de pollen par les organes mâles (châtons, cônes).
    </p>

    <h2>1.2 À l'automne</h2>
    <p>
      Commencez les observations lorsque les premières feuilles changent de couleur et aidez-vous du calendrier indicatif.
    </p>

    <h3>1.2.1 <u>Changement de couleur des feuilles</u></h3>
    <p>
      Espèces concernées : mélèze, bouleau verruqueux, bouleau pubescent, sorbier des oiseleurs.
    </p>
    <p>
      Début : Notez la date à laquelle les premières feuilles de l’arbre, soit environ 10% du feuillage, ont changé de couleur.
    </p>
    <p>
      Moitié : Notez la date à laquelle la moitié des feuilles de l’arbre, soit environ 50% du feuillage, ont changé de couleur.
    </p>
    <p>
      Attention : dans les deux cas, les feuilles qui sont déjà tombées au sol comptent dans le pourcentage observé. On considère l’ensemble du feuillage.
    </p>

    <h2>1.3 En hiver</h2>
    <p>
      Le relevé de l’enneigement est facultatif, mais très utile si vous avez un peu de temps à y consacrer.
    </p>
    <h3>1.3.1 <u>Mesure de l'enneigement</u></h3>
    <p>
      Dans un lieu dégagé et plat dans votre zone d’étude, plantez dans le sol un bâton en bois gradué tous les 5 cm.
    </p>
    <p>
      Dès qu’il neige, notez chaque matin environ à la même heure, ou le plus fréquemment possible, la hauteur du manteau neigeux. Si la hauteur de neige tombe entre deux graduations, arrondissez à la graduation supérieure.
    </p>
  </div>
  </ion-content>
</ion-view>
