<div class="modal">
    <header class="bar bar-header bar-stable">
      <h1 class="title">{{ speciesName }} : {{ survey.stage.name | translate }}</h1>
      <div class="button button-clear" ng-click="slidemodal.hide()"><span class="icon ion-close"></span></div>
    </header>
    <div class="has-header scroll-content ionic-scroll">
      <ion-slide-box active-slide="status.slideIndex">
        <ion-slide>
            <div ng-style="{ 'background-image': 'url(' + survey.stage.picture_before + ')'}" class="slide-picture"></div>
        </ion-slide>
        <ion-slide>
            <div ng-style="{ 'background-image': 'url(' + survey.stage.picture_current + ')'}" class="slide-picture"></div>
        </ion-slide>
        <ion-slide>
            <div ng-style="{ 'background-image': 'url(' + survey.stage.picture_after + ')'}" class="slide-picture"></div>
        </ion-slide>
      </ion-slide-box>       
    </div>
    <ion-footer-bar align-title="center" class="bar-stable">
      <h2 class="title" ng-if="status.slideIndex==0">{{ 'survey.picture.before' | translate }}</h2>
      <h2 class="title" ng-if="status.slideIndex==1">{{ 'survey.picture.current' | translate }}</h2>
      <h2 class="title" ng-if="status.slideIndex==2">{{ 'survey.picture.after' | translate }}</h2>
    </ion-footer-bar>
</div>