<ion-view title="{{area.name}}" animation="none">

  <ion-nav-buttons side="left" animation="none">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-subheader">
  
    <ul class="filter-list list">
      <li class="item item-checkbox option-all">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="false">
         </label>
         <span translate='species.choice.see_all'></span>
      </li>
      <li class="item item-checkbox option-observed">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="true">
         </label>
         <span translate="species.choice.see_to_observed"></span>
      </li>
    </ul>

    <div class="list species-item" ng-repeat="spec in species">
      <div class="item item-thumbnail-left item-divider item-icon-right"  
           ng-init="many=(species.length>1)" 
           ng-click="spec.toggle=!spec.toggle;scrollBottom($last);">

        <img height="80" ng-src="{{spec.picture}}" err-src="img/icon.png">
        <span class="species-name">{{ spec.name }}<span>
        <i ng-class="{ 'icon ion-arrow-down-b': !spec.toggle, 'icon ion-arrow-up-b': spec.toggle }" ng-if="many"></i>

      </div>
      <a class="item item-icon-right individual-item" 
          ng-if="spec.toggle==true || !many"
          ng-repeat="ind in spec.individuals"
          ng-click="goToFirstPending(spec, ind)">
        
        {{ ind.name }}
        
        <span ng-repeat="task in ind.tasks">
          <span ng-if="$first">:</span>
          
          <span class="individual-item-task"
              ng-class="{'todo': !task.validated, 'done': task.validated}" 
              ng-bind="task.label"></span>
        
        </span>
        
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </div>

    <div class="list" ng-if="areas.length > 1">
      <label class="item item-input item-select">
          <div class="input-label">
            <span translate="species.change_area"></span>
          </div>
          <select ng-options="area as area.name for area in areas"
                  ng-model="area"
                  ng-change="switchArea(area)"></select>
      </label>
    </div>

  </ion-content>

</ion-view>
