<ion-view title="{{ 'area' | translate}} : {{area.name}}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-subheader">
  
    <ul class="list">
      <li class="item item-checkbox option-all">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="false">
         </label>
         {{ 'species.choice.see_all' | translate}}
      </li>
      <li class="item item-checkbox option-observed">
         <label class="checkbox">
           <input type="radio" ng-model="filter.showOnlyNeeded" value="true">
         </label>
         {{ 'species.choice.see_to_observed' | translate}}
      </li>
    </ul>

    <div class="list species-item" ng-repeat="spec in species">
      <div class="item item-thumbnail-left item-divider item-icon-right"  
           ng-init="many=(species.length>1)" 
           ng-click="spec.toggle=!spec.toggle;">

        <img height="80" ng-src="{{spec.picture}}" err-src="img/icon.png">
        <span style="display:block;padding:30px;font-size:1.2em;">{{spec.name}}<span>
        <i ng-class="{ 'icon ion-arrow-down-b': !spec.toggle, 'icon ion-arrow-up-b': spec.toggle }" ng-if="many"></i>

      </div>
      <a class="item item-icon-right individual-item" ng-show="spec.toggle==true || !many" ng-repeat="ind in spec.individuals"
        ng-click="goToFirstPending(spec, ind)">
        <span>{{ind.name}}</span>
        <span ng-repeat="task in ind.tasks">
          <span ng-if="$first">:</span>
          <span class="individual-item-task" ng-class="{'todo': !task.validated, 'done': task.validated}">
            {{ task.label }}
          </span>
        </span>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </div>

    <div class="list">
      <label class="item item-input item-select">
          <div class="input-label">
            {{ 'species.change_area' | translate}}
          </div>
          <select ng-options="area as area.name for area in areas" ng-model="area" ng-change="switchArea(area)"></select>
      </label>
    </div>

  </ion-content>

</ion-view>
