<ion-view title="{{ 'survey' | translate }}">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div style="text-align:center;pointer-events:none;">
      <h2 style="margin:3px;">{{survey.stage.name | translate}}</h2>
      <h4 style="margin:0;">{{individual.name}}</h4>
    </div>

    <div class="list">
      <!-- Pictures -->
      <div class="pictures" bindonce>
        <div class="picture_left" ng-click="openSlideModal(0)">
              <div class="picture" bo-style="{'background-image':'url({{survey.stage.picture_before}})'}"></div>
              <p>{{ 'survey.picture.before' | translate }}</p>
        </div>
        <div class="picture_right" ng-click="openSlideModal(2)">
              <div class="picture" bo-style="{'background-image':'url({{survey.stage.picture_after}})'}"></div>
              <p>{{ 'survey.picture.after' | translate }}</p>
        </div>
        <div class="picture_front" ng-click="openSlideModal(1)">
              <div class="picture" bo-style="{'background-image':'url({{survey.stage.picture_current}})'}"></div>
        </div>
      </div>
      <div style="text-align:center;padding-bottom:2px;">
          {{ 'survey.last_survey' | translate }} : {{ (lastSurvey.surveyDate | date) || ( 'survey.no_survey' | translate) }}
      </div>
      <!-- observed today -->
      <label class="item item-radio">
        <input type="radio" name="radio-group" ng-disabled="locked" ng-model="survey.when" ng-value="'today'">
        <div class="item-content disable-pointer-events">
          <span>{{ 'survey.status.today' | translate }}</span>
        </div>
        <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
      </label>

      <!-- observed another day -->
      <label class="item item-radio" ng-click="opendateModal()">
        <input type="radio" name="radio-group" ng-disabled="locked" ng-model="survey.when" ng-value="'before'">
        <div class="item-content disable-pointer-events">
          <span>{{ 'survey.status.observed' | translate }}</span>
        </div>
        <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
      </label>
      <!-- date -->
      <label class="item item-input item-date" ng-if="survey.when=='before'">
        <span class="input-label">Date</span>
        <div  ng-click="opendateModal()" class="item-content">
          <span class="title"> {{ survey.beforeDate | date:"mediumDate" }} </span> 
          <button class="button button-small" ><i class="icon ion-compose"></i></button>
        </div>
      </label>

      <!-- lost or dead -->
      <label class="item item-radio">
        <input type="radio" name="radio-group" ng-disabled="locked" ng-model="survey.when" ng-value="'isLost'">
        <div class="item-content disable-pointer-events">
          <span>{{ 'survey.status.lost' | translate }}</span>
        </div>
        <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
      </label>

      <!-- never-->
      <label class="item item-radio">
        <input type="radio" name="radio-group" ng-disabled="locked" ng-model="survey.when" ng-value="'isNever'">
        <div class="item-content disable-pointer-events">
          <span>{{ 'survey.status.never' | translate }}</span>
        </div>
        <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
      </label>

      <!-- missed -->
      <label class="item item-radio">
        <input type="radio" name="radio-group" ng-disabled="locked" ng-model="survey.when" ng-value="'isPassed'">
        <div class="item-content disable-pointer-events">
          <span>{{ 'survey.status.alreadypassed' | translate }}</span>
        </div>
        <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
      </label>

      <button class="button button-block button-positive" ng-click="validate()" ng-hide="survey.validated">
        {{ 'action.submit' | translate}}
      </button>

      <button class="button button-block" ng-hide="!(survey.validated && survey.identifier)"
        ng-click="unlock()">
        {{ 'action.submitted' | translate }} 
        <i class="icon ion-cloud icon_ok"></i>
        <span ng-if="locked">{{ 'action.unlock' | translate }}</span>
      </button>

      <button class="button button-block" ng-hide="!(survey.validated && !survey.identifier)">
        {{ 'action.validated' | translate }} 
        <i class="icon ion-upload icon_warning"></i>
      </button>

      <button class="button button-clear" ng-click="cancel()">
        {{ 'action.cancel' | translate}}
      </button>
      
      <label class="item item-input item-select">
        <div class="input-label">
          {{ 'survey.change_stage' | translate}}
        </div>
        <select ng-options="sta.id as sta.name | translate for sta in stages" 
                ng-model="current_stage.id" 
                ng-change="switchStage(current_stage)"></select>
      </label>
    </div>

  </ion-content>
</ion-view>
