.icon_ok {
    color: $ok;
}
.icon_warning {
    color: $warning;
}
/* snowing part */
.snowing{
    .snowing_additional, .snowing_input>input{
        text-align: center;
    }
    .snowing_validate{
        margin:auto;
    }
    .snowing_label{
        padding-left:20px;
        padding-right:10px;
        font-weight: bold;
        font-size:1.1em;
    }
    .snowing_item{
        padding-bottom:20px;
    }
    .snowing_title{
        padding:40px;
        padding-bottom:20px;
        text-align: center;
    }
}

/** pictures **/
.pictures{
    height:220px;
    margin:auto;
    max-width:500px;
    position: relative;
    margin-bottom:10px;
    div{
        height:100%;
    }
    .picture{
        background-repeat:no-repeat;
        height:100%;
        background-size: contain;
        background-position: top;
    }
    .picture_left{
        text-align:left;
        width:40%;
        max-height: 75%;
        left:3%;
        position:absolute;
        p{
            text-align:left;
            padding-left:30px;
        }
    }
    .picture_front{
        position:absolute;
        z-index:10;
        left:25%;
        text-align:center;
        padding-left:0;
        padding-top:5%;
        padding-right:0;
        width:50%;
    }
    .picture_right{
        position:absolute;
        left:55%;
        z-index:1;
        max-height: 75%;
        text-align:right;
        width:40%;
        p{
            text-align:right;
            padding-right:30px;
        }
    }
    img{
        max-height:60%;
        width:100%;
    }
}

/** Pickadate plugin**/
.pickadate{
    .pickadate-controls i{
        font-size:2em;
    }
    .pickadate-centered-heading {
        font-weight: normal;
        text-align: center;
        font-size: 1.5em;
        margin: 13px 0 15px 0;
        padding-top:10px;
        text-transform: capitalize;
    }

   .pickadate-cell li{
        font-size: 1.4em;
        padding:3%;
        &.pickadate-head{
            font-size: 1.4em;
            padding:1%;
        }
        .pickadate-active {
            background-color: #b52a00;
        }
    }
}

/** General **/
.view{
    .has-subheader{
        top:78px !important;
    }
    .with-background{
        background-image: url("../img/background-main.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 10%;
    }
    .bar-subheader.bar.bar-dark {
        padding:0;
        height:auto;
        border-width: 0;
        background-color: $subheader_dark_bg;
    }
    .bar.bar-dark .button.active, .bar.bar-dark .button.activated {
        border-color: $subheader_dark_active_bg;
        background-color: $subheader_dark_active_bg;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
        color: $subheader_dark_active;
    }
    .bar.bar-dark .button {
        color: $subheader_dark;
        border-color: $subheader_dark_bg;
        background-color: $subheader_dark_bg;
    }
}

/** Side menu**/
.menu-left{
    .bar.bar-header h1{
        color: $sidemenu_title;
    }
    .item-icon-left .icon.ion-ios7-snowy{
        font-size: 300%;
    }
}

//ugly
.menu-left, .menu-left header,.menu-left .item, .menu-left .item-content{
    background-color: $sidemenubg !important;
    color:white !important;
}

/** home page **/
.home__logo {
    float: right;
    height: 100px;
    margin-right: 10px;
    &.epheno {
        height: 130px;
    }
}

.blue{
    color:blue;
}
.purple{
    color:purple;
    opacity: 0.8;
}
.orange{
    color:orange;
}
.grey{
    color:#3A01DF;
    opacity:0.8;
}
.tasks-section{
    .synchronize-button-container{
        width:100%;
        text-align:right;
        padding:10px;
        padding-bottom:0;
        span{
            padding-left:10px;
        }
    }
    .task-item{
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.82);
        span{
            opacity: 1;
        }
        .task-name{
            display:block;
            font-size:0.9em
        }
        .task-dates{
            display:block;
            font-size:0.8em;
        }
        .task-individuals{
            white-space:initial;
        }
        .task-individual{
            font-size:0.9em;
            margin-left:4px;
        }
    }
    .main-title{
        opacity:0.8;
        text-align:center;
    }
}

/** credits **/
.credits__logo{
  height: 40px;
  margin-right:20px;
}

/** area map section **/
.area-map-section{
    .list{
        margin:0;
    }
    .item-first{
        padding-top:12px;
        padding-bottom:12px;
    }
    .map{
        position:relative;
        >.leaflet-control{
            position:absolute;
            left:10px;
            top:10px;
        }
    }
}

/** species **/
.species-item{
    margin-bottom: 10px;
    .item.item-divider{
        max-height:100px;
    }
}
a.individual-item {
    color: $dark;
    .individual-item-task {
        &.todo {
           color: $warning;
           font-weight: bold;
        }
        &.done {
            color: $ok;
            text-decoration: line-through;
        }
    }

    i.ion-android-checkmark{
        color:green;
        font-size:1.2em;
    }
}

/** Last surveys **/
.last-surveys {
    .last-survey-item{
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $lastsurvey_bg;
        color: $lastsurvey;
    }
}

/** leaflet plugin **/
.map{
    .mymarker{
        font-size: 54px;
    }
    .leaflet-live-user {
        -webkit-animation: pulse 2s ease-out;
        animation: pulse 2s ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    .leaflet-popup .individual-popup{
        text-align: center;
        img{
            max-height: 100px;
        }
    }
    .phenology-marker {
        background-image: url('../img/markers-soft@2x.png');
        background-size: 1096px 70px;
        background-position: -112px 0px;
        padding: 5px;
    }
    .phenology-marker-shadow {
        background-image: url('../img/markers-shadow@2x.png');
       background-size: 35px 16px;
    }
    i.fa.fa-tree{
        font-size: 34px;
        margin-left: 18px;
        margin-top: 15px;
        color: white;
    }
    i.ion-leaf{
        font-size: 30px;
        margin-left: 8px;
        margin-top: 2px;
        color: white;
        display: block;
    }
}

.nav-counter {
  position: absolute;
  top: -1px;
  right: -8px;
  min-width: 8px;
  height: 22px;
  line-height: 20px;
  margin-top: -11px;
  padding: 0 6px;
  padding-top:1px;
  padding-left:7px;
  padding-right: 7px;
  font-weight: normal;
  color: white;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: #e23442;
  border: 1px solid #911f28;
  border-radius: 11px;
  background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
  background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
  background-image: -o-linear-gradient(top, #e8616c, #dd202f);
  background-image: linear-gradient(to bottom, #e8616c, #dd202f);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.login-error{
    color:red;
    font-size:1.1em;
    text-align: center;
}

/* areas section **/
.list-areas-section{
    .area-item .item-content {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .section-title{
        text-align:center;
        padding:5px;
        padding-top:15px;
    }
}

/** slide box **/
.slider{
    height:95%;
    .slider-slide img{
        width: 100%;
    }
    .slide-picture{
        background-repeat:no-repeat;
        width:100%;
        height:100%;
        background-size: contain;
        background-position: center;
    }
}

/** hack **/
.visible.active .loading{
    visibility: visible;
    opacity: 1;
    left:40%;
}

/** item date **/
.item-date{
    .item-content{
        text-align:center;
        width: 50%;
    }
    .title{
        padding-right:10px;
        margin-top: 5px;
        display: inline-block;
    }
}

/** survey title **/
.survey__title{
    .stage__name{
        margin: 3px;
    }
    .indivual__name{
        margin: 0px;
    }
}

.area-map-section{
    div.scroll{
        height: 100%;
    }
    ul.list{
        height: 100%;
        position: relative;
    }
}

.list li{
    &.item.item-checkbox{
        height: 45px;
        padding-top: 12px;
        padding-bottom: 12px;   
    }
    &.map{
        position: absolute;
        bottom: 0;
        top: 90px;
        width: 100%;
    }
}
.last__survey{
    padding-bottom:2px;
}

.species-name{
    display:block;
    padding:30px;
    font-size:1.2em;
}

.species-item{
  margin-bottom: 5px;
}

.individual-item-task{
    font-size:0.9em;
}
.list .item-radio{
    height: 43px;
}
.individual__name{
    margin: 0;
}

.btn-sync-title{
    padding: 1em;
}
.filter-list{
    margin-bottom: 5px;
}

.popup-body{
    text-align: center;
}

.item-change-stage{
    select{
        max-width: 50%;
        white-space: initial;
        padding-left: 0.2em;
        padding-right: 3em;
    }
    .input-label{
      white-space: initial;
    }
}

/** pulse animation **/
@-webkit-keyframes pulse {
    from {
        stroke-width: 15;
        stroke-opacity: 1;
    }
    to {
        stroke-width: 50;
        stroke-opacity: 0;
    }
}
@keyframes pulse {
    from {
        stroke-width: 15;
        stroke-opacity: 1;
    }
    to {
        stroke-width: 50;
        stroke-opacity: 0;
    }
}
