/* Empty. Add your own CSS if you like */
.menu-left, .menu-left header,.menu-left .item, .menu-left .item-content{
	background-color:#22568f !important;
	color:white !important;
}

.bar.bar-stable .title{
	color: #4874a4 !important;
}

.picture{
  text-align:center;
  max-height:180px;
  z-index:1;
  position:absolute;
  top:10px;
}

.isInFullScreen{
	width:100%;
	height:100%;
}

/* small validation effect */
input.ng-invalid{
	border:1px solid red!important;
}
input.ng-valid.ng-dirty{
	border:1px solid green!important;
}

/* snowing part */
.snowing_validate{
	margin:auto;
}
.snowing_additional, .snowing_input>input{
	text-align: center;
}
.snowing_label{
	padding-left:20px;
	padding-right:10px;
	font-weight: bold;
	font-size:1.1em;
}
.snowing .snowing_item{
	padding-bottom:20px;
}
.snowing_title{
	padding:40px;
	padding-bottom:20px;
	text-align: center;
}

/** fullscreen **/
#fs_container img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
#fs_container .trick {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/** pictures **/
.pictures{
	max-height:220px;
	margin:auto;
	max-width:500px;
}
.picture_left{
	text-align:left;
	padding-left:0;
	padding-right:0;
}
.pictures .picture_front{
	z-index:10;
	margin-left:-10%;
	text-align:center;
	padding-left:0;
	padding-top:5%;
	padding-right:0;
}
.pictures .picture_front img{
	max-height:75%;
	width:100%;
}
.picture_right{
	z-index:1;
	text-align:right;
	padding-left:0;
	margin-left:-9%;
	padding-right:0;
}

.pictures img{
	max-height:60%;
	width:100%;
}